
*{
  box-sizing: border-box;
}
.search-container {
  padding: 1rem 2rem;
}

.button-category {
  display: flex;
  justify-content: start;
  width: 100%;
}
.button-reset{
  width: 100%;
}

.form-radio,
.form-checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid lightgray;
  height: 1rem;
  width: 1rem;
  outline: none;
  margin-right: 0.5rem;
}

.form-radio:checked,
.form-checkbox:checked{
  border: 1px solid #5cb85c;
  padding: 1px;
  background-color: #5cb85c;
  background-clip: content-box;
  outline: none;
}

.form-control.search-button{
  border-radius: 0;
}

.form-control.search-button:focus{
  box-shadow: 1px 1px 1px 1px rgba(255,255,255,0);
  border-color: #5cb85c;
  border-radius: 0;
}

.border-0{
  border: none;
}

i.fas{
  cursor: pointer;
}
