<footer class="page-footer font-small bg-dark fixed-bottom">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-3 mx-auto mt-3">
        <h5 class="font-weight-bold mb-2 mt-3">Coffee Shop</h5>
        <p>It's a magic. </p>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3">
        <h5 class="font-weight-bold mb-2 mt-3">Categories</h5>
        <ul class="list-unstyled">
          <li>
              <a href="#!" class="color-link">About us</a>
          </li>
          <li>
              <a href="#!" class="color-link">Products</a>
          </li>
          <li>
              <a href="#!" class="color-link">Contact</a>
          </li>
          <li>
              <a href="#!" class="color-link">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3">
        <h5 class="font-weight-bold mb-2 mt-3">Contact us</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> 25A Align St, Haifa, Israel</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +54 456 1236</p>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold mt-3">Subscribe to newsletter</h6>
        <p>
          <i>
            <form class="input-group">
              <input type="text" class="form-control form-control-xs" placeholder="Your email"
                     aria-label="Your email" aria-describedby="basic-addon2">

              <div class="input-group-append">
                <button class="btn btn-xm btn-outline-blue " type="button" style="background-color: darkgrey; color: white;">Subscribe</button>
              </div>
            </form>
          </i>
        </p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-2">© 2019 Copyright:
    <a>Coffee Ltd</a>
  </div>
</footer>
