<link rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
      integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
      crossorigin='anonymous'>

<footer class="footer-bs bg-dark">
  <div class="row bg-transparent">

    <div class="col-sm-auto footer-brand">
      <h2>Coffee Shop</h2>
      <p>Its a magic.</p>
    </div>

    <div class="col-md-auto footer-nav">
      <h4>Categories</h4>

      <a href="#"><i class="fas fa-info-circle"></i> About Us</a><br>
      <a href="#"><i class="fab fa-product-hunt"></i> Products</a><br>
      <a href="#"><i class="far fa-address-book"></i> Contact</a><br>
      <a href="#"><i class="fas fa-truck"></i> Delivery</a><br>
      <a href="#"><i class="fas fa-user-secret"></i> Privacy Policy</a>
    </div>

    <div class="col-md-auto footer-social">
      <h4>Contact Us</h4>

      <p><i class="fas fa-map-marker-alt"></i> 25A Align St, Haifa, Israel<br>
      <p><i class="fas fa-phone mr-3"></i>+54 456 1236</p>
    </div>

    <div class="col-md-auto footer-ns bg-dark">
      <h4>Subscribe to newsletter</h4>

      <div class="search-form">
        <input type="text" class="input-search" placeholder="YOUR EMAIL">
        <button type="submit" class="btn-search">SUBSCRIBE</button>
      </div>

      <div class="social">
        <a href="#" id="social-fb"><i class="fab fa-facebook-f"></i></a>
        <a href="#" id="social-tw"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

  </div>
  <div class="col container">
    <p><i class="far fa-copyright"></i> 2019 CopyRights: Coffee Ltd.</p>
  </div>
</footer>
