<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Footer -->

<link rel="stylesheet" href="../app.component.css">

<footer class="page-footer row bg-dark fixed-bottom font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left bg-dark">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3 text-white">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold"> SOHOT: </h6>
        <p>Coffee company</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Categories</h6>
        <p>
          <a class="text-white" href="#!">About us</a>
        </p>
        <p>
          <a class="text-white" href="#!">Products</a>
        </p>
        <p>
          <a class="text-white" href="#!">Contact</a>
        </p>
        <p>
          <a class="text-white" href="#!">Delivery</a>
        </p>
        <p>
          <a class="text-white" href="#!">Privacy Policy</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact us</h6>
        <p>
          <i class="fas fa-home mr-3"></i>26A Ihuda St, Haifa</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>Israel, 058187</p>
        <p>
          <i class="fas fa-phone mr-3"></i>+ 65 6221 5462</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mt-4">
        <h6 class="text-uppercase mb-4 font-weight-bold">Subskribe to newsletter</h6>
        <p>
          <i>
            <form class="input-group">
              <input type="text" class="form-control form-control-xs" placeholder="Your email"
                     aria-label="Your email" aria-describedby="basic-addon2">

              <div class="input-group-append">
                <button class="btn btn-xm btn-outline-blue " type="button" style="background-color: darkgrey; color: white;">Subscribe</button>
              </div>
            </form>
          </i>
        </p>
        <p>
          <i>
            <!-- Grid column -->
            <div class="col-md-7 col-lg-6 col-xl-6 mx-auto mt-6">

              <!-- Social buttons -->
              <div class="text-left text-md-left">
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>

            </div>
            <!-- Grid column -->
          </i>
        </p>
      </div>
    </div>

    <hr color="white">

    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-lg-center text-white"> 2019 Company:
          <a href="https://mdbootstrap.com/education/bootstrap/" class="text-white">
            <strong > SOHOT </strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->
    </div>
    </div>
</footer>



