<div class="container">
  <div class="card-body border-dark"
       [class.shadow-lg]="isHeaderShadow"
       [class.alert-primary]="isHeaderShadow">

    <div class="input-group mb-3">
      <input id="name"
             [(ngModel)]="exampleName"
             class="form-control"
             (keydown.enter)="saveExample(exampleName)"
             (mouseover)="isHeaderShadow=true"
             (mouseleave)="isHeaderShadow=false"

      >
      <div class="input-group-append">
        <span class="input-group-text" style="cursor: pointer" (click)="saveExample(exampleName)">Add example</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead class="alert-info">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let example of examples; let index = index"
      (mouseover)="tableRowsShadows[index] = true"
      (mouseleave)="tableRowsShadows[index] = false"
      [class.shadow-lg]="tableRowsShadows[index]"
      [class.alert-info]="tableRowsShadows[index]"
      >
        <td>{{example.id}}</td>
        <td>{{example.name}}</td>
      </tr>
      </tbody>

    </table>
  </div>

</div>
