.page-header {
  height: 40px;
}

.navbar-light .navbar-brand {
  font-weight: bold;
  padding-left: 125px;
}

#navbarSupportedContent {
  padding-left: 50px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}


