<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container wrapper">
  <div class="row cart-head">
    <div class="container">
      <div class="row">
        <p></p>
      </div>

      <div class="row">
        <p></p>
      </div>
    </div>
  </div>
  <div class="row cart-body">
    <form class="form-horizontal" method="post" action="">

        &lt;!&ndash;SHIPPING METHOD&ndash;&gt;
        <div class="panel panel-info">
          <div class="panel-heading">Contact Form</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">

                <h4>Customer Info</h4>

              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Company name:</strong></div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="country" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Phone Number:</strong></div>
              <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="" /></div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Email Address:</strong></div>
              <div class="col-md-12"><input type="text" name="email_address" class="form-control" value="" /></div>
            </div>

            <h4>Contact Info</h4>

            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <strong>First Name:</strong>
                <input type="text" name="first_name" class="form-control" value="" />
              </div>
              <div class="span1"></div>
              <div class="col-md-6 col-xs-12">
                <strong>Last Name:</strong>
                <input type="text" name="last_name" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Phone Number:</strong></div>
              <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="" /></div>
            </div>

            <h4>Delivery</h4>

            <div class="form-group">
              <div class="col-md-12"><strong>Official Name:</strong></div>
              <div class="col-md-12">
                <input type="text" name="address" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>City:</strong></div>
              <div class="col-md-12">
                <input type="text" name="city" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Street:</strong></div>
              <div class="col-md-12">
                <input type="text" name="state" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>House number:</strong></div>
              <div class="col-md-12">
                <input type="text" name="zip_code" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Apartment:</strong></div>
              <div class="col-md-12">
                <input type="text" name="zip_code" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Floor:</strong></div>
              <div class="col-md-12">
                <input type="text" name="zip_code" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12"><strong>Delivery comment:</strong></div>
              <div class="col-md-12">
                <input type="text" name="zip_code" class="form-control" value="" />
              </div>
            </div>

          </div>
        </div>
        &lt;!&ndash;SHIPPING METHOD END&ndash;&gt;

      </div>

    </form>
  &lt;!&ndash;REVIEW ORDER&ndash;&gt;
  <div class="container">
    <table id="cart" class="table table-hover table-condensed">
      <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Weight</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
            <div class="col-sm-10">
              <h4 class="nomargin">Product 1</h4>
              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </td>
        <td data-th="Weight">0.250</td>
        <td data-th="Price">$150.00</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">150.00</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total 1.99</strong></td>
      </tr>
      <tr>
        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping </a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $150.00</strong></td>
        <td>
          <a class="btn btn-success" (click)="postProductList()">
            <i class="fa fa-angle-left"></i> Checkout <i></i></a>

        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  &lt;!&ndash;REVIEW ORDER END&ndash;&gt;
</div>-->

<p>{{json}}</p>



