<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3 class="photo-title">Coffee Shop title.</h3>
      <p>here comes our title.</p>
    </div>
    <img class="logo-content" src="../../assets/images/header.png"/>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3 class="photo-title">Coffee Shop title.</h3>
      <p>here comes our title.</p>
    </div>
    <img class="logo-content" src="../../assets/images/header.png"/>
  </ng-template>
</ngb-carousel>
<div class="popular-now">
  <div class="bg-white">
    <span>Popular right now</span>
  </div>
</div>
