<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <p>
        Order Completion!
        Dear, ${firstName} ${lastName}!
        You order with order number ${orderId} has been reported as completed!

        Thank you for choosing our platform for buying the best coffee!
        We hope you enjoyed your experience working with our Coffee-Shop and waiting you back in our shop.

        In case, if the order is not completed or you are dissatisfied with the product quality – please contact our Support Center as soon as possible!

        Best regards,
        Coffee-Shop Team!
    </p>
</head>
<body>

</body>
</html>