<div class="container search-container col-md-4 col-xl-4 bg-white">
  <div class="font-weight-bold my-3">
    <h4>Coffee</h4>
  </div>
  <form [formGroup]="productSearchForm" (ngSubmit)="onFormSubmit()">
    <div class="">
      <input
        [formControlName]="'search'"
        type="text"
        class="form-control border-top-0 border-left-0 border-right-0 pl-0 search-button"
        placeholder="Search..."
        style="position: relative; vertical-align: top;"
      >
    </div>
    <div class="font-weight-bold my-3">
      <h4>Price</h4>
      <div class=" p-0">
        <app-slider
          [handleSize]="10"
          [fillColor]="'#5cb85c'"
          [handleColor]="'#99aab5'"
          [lowerValue]="10"
          [upperValue]="50"
          [sliderHeight]="3"
          [handleType]="'rectangle'"
        ></app-slider>
      </div>
    </div>

    <div class="my-3">
      <h4>Category</h4>

      <div class="accordion" id="accordionExample">

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingOne">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseOne"
                 aria-expanded="true" aria-controls="collapseOne">
              Bitter <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div>
                <label class="form-check-label">
                  <input
                    [formControlName]="'bitter'"
                    type="radio"
                    class="form-radio"
                    value="1"
                    name="bitter"
                  >1
                </label>

              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'bitter'"
                    type="radio"
                    class="form-radio"
                    value="2"
                    name="bitter"
                  >2
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-radio"
                    value="3"
                    name="bitter"
                    [formControlName]="'bitter'"
                  >3
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'bitter'"
                    type="radio"
                    class="form-radio"
                    value="4"
                    name="bitter"
                  >4
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'bitter'"
                    type="radio"
                    class="form-radio"
                    value="5"
                    name="bitter"
                  >5
                </label>
              </div>
            </div>
          </div>

        </div>

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingTwo">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseTwo"
                 aria-expanded="true" aria-controls="collapseTwo">
              Sour <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'sour'"
                    type="radio"
                    class="form-radio"
                    value="1"
                    name="sour"
                  >1
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'sour'"
                    type="radio"
                    class="form-radio"
                    value="2"
                    name="sour"
                  >2
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'sour'"
                    type="radio"
                    class="form-radio"
                    value="3"
                    name="sour"
                  >3
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'sour'"
                    type="radio"
                    class="form-radio"
                    value="4"
                    name="sour"
                  >4
                </label>
              </div>
              <div class="">
                <label class="form-check-label">
                  <input
                    [formControlName]="'sour'"
                    type="radio"
                    class="form-radio"
                    value="5"
                    name="sour"
                  >5
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingThree">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseThree"
                 aria-expanded="true" aria-controls="collapseThree">
              Strong <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'strong'"
                    type="radio"
                    class="form-radio"
                    value="1"
                    name="strong"
                  >1
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'strong'"
                    type="radio"
                    class="form-radio"
                    value="2"
                    name="strong"
                  >2
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'strong'"
                    type="radio"
                    class="form-radio"
                    value="3"
                    name="strong"
                  >3
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'strong'"
                    type="radio"
                    class="form-radio"
                    value="4"
                    name="strong"
                  >4
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'strong'"
                    type="radio"
                    class="form-radio"
                    value="5"
                    name="strong"
                  >5
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingFour">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseFour"
                 aria-expanded="true" aria-controls="collapseFour">
              Instant <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'instant'"
                    type="radio"
                    class="form-radio"
                    value="yes"
                    name="instant"
                  >Yes
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'instant'"
                    type="radio"
                    class="form-radio"
                    value="no"
                    name="instant"
                  >No
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingFive">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseFive"
                 aria-expanded="true" aria-controls="collapseFive">
              Ground <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'ground'"
                    type="radio"
                    class="form-radio"
                    value="yes"
                    name="ground"
                  >Yes
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'ground'"
                    type="radio"
                    class="form-radio"
                    value="no"
                    name="ground"
                  >No
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 my-3">
          <div class="card-header border-0 p-0 font-weight-bold" id="headingSix">
            <div class="collapsed text-dark pl-0 pr-0 bg-white d-flex justify-content-between"
                 data-toggle="collapse" data-target="#collapseSix"
                 aria-expanded="true" aria-controls="collapseSix">
              Decoffein <i class="fas fa-chevron-down icon"></i>
            </div>
          </div>

          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body show ml-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'decoffein'"
                    type="radio"
                    class="form-radio"
                    value="yes"
                    name="decoffein"
                  >Yes
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    [formControlName]="'decoffein'"
                    type="radio"
                    class="form-radio"
                    value="no"
                    name="decoffein"
                  >No
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="font-weight-bold my-4 text-center">
      <button type="submit" class="btn btn-outline-success button-reset mb-2">APPLY FILTER</button>
      <button type="submit" class="btn btn-outline-secondary button-reset">RESET FILTER</button>
    </div>

  </form>

</div>

