<!--<div class="container-fluid p-0 bg-white">-->
<!--  <div class="col-12 p-0">-->
<!--    <app-header></app-header>-->
<!--  </div>-->
  <div class="image-coffee p-0" style="width: 100%;">
    <h1 class="text-center pl-lg-5 text-white image-coffee-text">Coffee</h1>
    <div class="container text-center pl-lg-5" style="width: 50%;">
      <p class="text-white justify-content-between text-center pl-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Ab, consequatur deleniti eligendi eos ipsa laborum minus, nam numquam perferendis porro quod repellendus
        velit?</p>
    </div>
  </div>
  <div class="pt-2">
    <h5 class="text-center text-dark">Popular right now</h5>
  </div>
  <div class="py-1 my-3 bg-light search-container d-flex flex-row flex-nowrap">
    <div class="pl-3 col-3">
      <app-product-search></app-product-search>
    </div>
    <div class="col-8 mb-4 card-container">
      <app-product-result></app-product-result>
    </div>

  </div>
<!--  <div class="col-12 p-0">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</div>-->

