/* You can add global styles to this file, and also import other style files */
.border {
  border-style: solid;
}

.col-sm-6{
  padding-right: 0!important;
}

.card-right{
  font-size: 0.9rem!important;
}

.card-img-top{
  height: 227.32px;
}

